{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="card shadow p-4 text-center">
        <h2 class="fw-bold">Eliminar Producto</h2>

        <p class="mt-3">
            ¿Seguro que deseas eliminar el producto  
            <strong>"{{ object.nombre_producto }}"</strong>?
        </p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4">Eliminar</button>
            <a href="{% url 'producto_super_list' %}" class="btn btn-secondary px-4">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}
