{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mt-4">
    <h2 class="fw-bold">Lista de Productos</h2>
    <a href="{% url 'producto_super_create' %}" class="btn btn-primary">+ Nuevo Producto</a>
</div>

<div class="card shadow mt-3">
    <div class="card-body p-0">
        <table class="table table-striped mb-0">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Categoría</th>
                    <th>Proveedor</th>
                    <th>Fecha Vencimiento</th>
                    <th>Código Barras</th>
                    <th>Peso (g)</th>
                    <th>Empaque</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id_producto }}</td>
                    <td>{{ producto.nombre_producto }}</td>
                    <td>{{ producto.descripcion|truncatechars:30 }}</td>
                    <td>${{ producto.precio_unitario }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.id_categoria.nombre_categoria }}</td>
                    <td>{{ producto.id_proveedor.nombre_proveedor }}</td>
                    <td>{{ producto.fecha_vencimiento|date:"d/m/Y" }}</td>
                    <td>{{ producto.codigo_barras }}</td>
                    <td>{{ producto.peso_gramos }}</td>
                    <td>{{ producto.tipo_empaque }}</td>

                    <td class="text-center">
                        <a href="{% url 'producto_super_detail' producto.pk %}" class="btn btn-sm btn-info">Ver</a>
                        <a href="{% url 'producto_super_update' producto.pk %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'producto_super_delete' producto.pk %}" class="btn btn-sm btn-danger">Borrar</a>
                    </td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="12" class="text-center text-muted py-3">
                        No hay productos registrados.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
