{% extends 'base.html' %}

{% block content %}
<div class="card shadow mt-5">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">Confirmar Eliminación</h4>
    </div>

    <div class="card-body">
        <p>¿Estás seguro de que deseas eliminar la venta con Ticket N° <strong>{{ object.numero_ticket }}</strong>, realizada el <strong>{{ object.fecha_venta|date:"d/m/Y" }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sí, eliminar</button>
            <a href="{% url 'venta_super_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}