{% extends 'base.html' %}

{% block content %}
<div class="card shadow mt-4">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">
            {% if object %} Editar Detalle de Venta {% else %} Registrar Detalle de Venta {% endif %}
        </h4>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            <div class="row">
                
                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Venta</label>
                    {{ form.id_venta }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Producto</label>
                    {{ form.id_producto }}
                </div>
                
                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Cantidad</label>
                    {{ form.cantidad }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Precio Unitario Venta</label>
                    {{ form.precio_unitario_venta }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Subtotal</label>
                    {{ form.subtotal }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">IVA Aplicado</label>
                    {{ form.iva_aplicado }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Descuento por Item</label>
                    {{ form.descuento_item }}
                </div>
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-success px-4">Guardar</button>
                <a href="{% url 'detalle_venta_super_list' %}" class="btn btn-secondary px-4">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}